
<div class="container">
  <mat-card>
     <h2>Nomina Empleados </h2>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100"  >

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>


      <ng-container matColumnDef="idRol">
        <th mat-header-cell *matHeaderCellDef> IdRol </th>
        <td mat-cell *matCellDef="let element"> {{element.idRol}} </td>
      </ng-container>


      <ng-container matColumnDef="numEmpleado">
        <th mat-header-cell *matHeaderCellDef> numEmpleado </th>
        <td mat-cell *matCellDef="let element"> {{element.numEmpleado}} </td>
      </ng-container>


      <ng-container matColumnDef="cantidadEntrega">
        <th mat-header-cell *matHeaderCellDef> cantidadEntrega </th>
        <td mat-cell *matCellDef="let element"> {{element.cantidadEntrega}} </td>
      </ng-container>
      <ng-container matColumnDef="salario">
        <th mat-header-cell *matHeaderCellDef> salario </th>
        <td mat-cell *matCellDef="let element"> {{element.salario}} </td>
      </ng-container>
      <ng-container matColumnDef="totalDias">
        <th mat-header-cell *matHeaderCellDef> totalDias </th>
        <td mat-cell *matCellDef="let element"> {{element.totalDias}} </td>
      </ng-container>
      <ng-container matColumnDef="totalDespensa">
        <th mat-header-cell *matHeaderCellDef> totalDespensa </th>
        <td mat-cell *matCellDef="let element"> {{element.totalDespensa}} </td>
      </ng-container>
      <ng-container matColumnDef="isr">
        <th mat-header-cell *matHeaderCellDef> isr </th>
        <td mat-cell *matCellDef="let element"> {{element.isr}} </td>
      </ng-container>
      <ng-container matColumnDef="descuentoExedenteSalarial">
        <th mat-header-cell *matHeaderCellDef> descuentoExedenteSalarial </th>
        <td mat-cell *matCellDef="let element"> {{element.descuentoExedenteSalarial}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>


  </mat-card>
</div>
